.venv/
__pycache__/
**/__pycache__/
*.py[cod]
.DS_Store
**/.DS_Store
.env
*.log
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/
.vscode/
.idea/
data/s3_cars_data_normalized.csv
.hypothesis/
config/connections/*.yaml
!config/connections/*.yaml.template
